body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 40px;
  color: #777;
  line-height: 34px;
  background: url("../images/4ff6b2e89c5306de815d37dad1194a96_psychic20clipart-psychic-clipart_453-648.gif");
  background-repeat: no-repeat;
  background-size: 38%;
  background-color: #444;
  background-position: center;
}

